# Missing Values

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

This time, fill in the missing values using interpolation (extrapolation).

Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [484]:
import pandas as pd

In [485]:
education_dataframe = pd.read_csv('states_all.csv')

In [486]:
education_dataframe[95:100]

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
95,1993_UTAH,UTAH,1993,462323.0,1638305.0,116791.0,928596.0,592918.0,1665011.0,881924.0,...,35467.0,38031.0,31692.0,NaN,NaN,471365.0,NaN,NaN,NaN,NaN
96,1993_VERMONT,VERMONT,1993,97454.0,837540.0,34179.0,216778.0,586583.0,809853.0,405876.0,...,8457.0,7496.0,6227.0,NaN,NaN,102755.0,NaN,NaN,NaN,NaN
97,1993_VIRGINIA,VIRGINIA,1993,1032842.0,5918536.0,365601.0,2358711.0,3194224.0,5955333.0,3121277.0,...,81615.0,78443.0,60314.0,NaN,NaN,1045471.0,NaN,NaN,NaN,NaN
98,1993_WASHINGTON,WASHINGTON,1993,896197.0,5270961.0,284396.0,3720223.0,1266342.0,5791436.0,2778268.0,...,73824.0,70666.0,55847.0,NaN,NaN,915952.0,NaN,NaN,NaN,NaN
99,1993_WEST_VIRGINIA,WEST_VIRGINIA,1993,317719.0,1832154.0,140913.0,1220263.0,470978.0,1829848.0,1023497.0,...,22349.0,25677.0,21507.0,NaN,NaN,314383.0,NaN,NaN,NaN,NaN

## Determine 

all the variable types and find the fraction of the missing values for each variable. 

Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

In [487]:
education_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [488]:
(education_dataframe.isna().sum() * 100 / len(education_dataframe)).sort_values()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
GRADES_ALL_G                     4.839650
GRADES_12_G                      4.839650
GRADES_8_G                       4.839650
GRADES_4_G                       4.839650
GRADES_KG_G                      4.839650
GRADES_PK_G                     10.087464
SUPPORT_SERVICES_EXPENDITURE    25.655977
CAPITAL_OUTLAY_EXPENDITURE      25.655977
TOTAL_EXPENDITURE               25.655977
LOCAL_REVENUE                   25.655977
STATE_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
TOTAL_REVENUE                   25.655977
INSTRUCTION_EXPENDITURE         25.655977
OTHER_EXPENDITURE               28.629738
ENROLL                          28.629738
GRADES_9_12_G                   37.551020
GRADES_1_8_G                    40.524781
AVG_READING_4_SCORE             62.099125
AVG_MATH_8_SCORE                64.897959
AVG_MATH_4_SCORE                67.055394
AVG_READING_8_SCORE             67.230321
dtype: float64

Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [489]:
# The assignment states observations should be from the same year
education_dataframe_1 = education_dataframe.copy()
education_dataframe_1["YEAR"] = 2008
education_dataframe_1["YEAR"].value_counts()

2008    1715
Name: YEAR, dtype: int64

In [490]:
# Drop the rows that has < 10% ( or very close to it )
# See how many rows are left
# GRADES_ALL_G                     
# GRADES_12_G                      
# GRADES_8_G                       
# GRADES_4_G                       
# GRADES_KG_G                      
# GRADES_PK_G                    
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_PK_G'].notna()]
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_KG_G'].notna()]
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_4_G'].notna()]
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_8_G'].notna()]
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_12_G'].notna()]
education_dataframe_1 = \
    education_dataframe_1[ education_dataframe_1['GRADES_ALL_G'].notna()]
print("The shape of education is ", education_dataframe_1.shape)

The shape of education is  (1542, 25)

In [491]:
(education_dataframe_1.isna().sum() * 100 / len(education_dataframe_1)).sort_values()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
GRADES_ALL_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
SUPPORT_SERVICES_EXPENDITURE    18.158236
CAPITAL_OUTLAY_EXPENDITURE      18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
INSTRUCTION_EXPENDITURE         18.158236
OTHER_EXPENDITURE               21.400778
ENROLL                          21.400778
GRADES_9_12_G                   31.063554
GRADES_1_8_G                    34.370947
AVG_READING_4_SCORE             63.099870
AVG_MATH_8_SCORE                66.407263
AVG_MATH_4_SCORE                68.417639
AVG_READING_8_SCORE             68.612192
dtype: float64

In [492]:
# The next is to see if missing values can be replaced
# Based on the documentation -- Grades All is comparable to Enroll
education_dataframe_1.ENROLL = education_dataframe_1.GRADES_ALL_G

In [493]:
(education_dataframe_1.isna().sum() * 100 / len(education_dataframe_1)).sort_values()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
GRADES_ALL_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
CAPITAL_OUTLAY_EXPENDITURE      18.158236
INSTRUCTION_EXPENDITURE         18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
SUPPORT_SERVICES_EXPENDITURE    18.158236
OTHER_EXPENDITURE               21.400778
GRADES_9_12_G                   31.063554
GRADES_1_8_G                    34.370947
AVG_READING_4_SCORE             63.099870
AVG_MATH_8_SCORE                66.407263
AVG_MATH_4_SCORE                68.417639
AVG_READING_8_SCORE             68.612192
dtype: float64

In [494]:
# For the Student in Grade 1-12 to split them I took the total amount of student except those in kindegarten 
# and preschool and and split ( 2/3 and 1/3 since we have since one group is 8 grades and other is 4 grades )
education_dataframe_1.GRADES_1_8_G  = \
    .67 * (education_dataframe_1.GRADES_ALL_G - education_dataframe_1.GRADES_KG_G - education_dataframe_1.GRADES_PK_G)
 
education_dataframe_1.GRADES_9_12_G = \
    .33 * (education_dataframe_1.GRADES_ALL_G - education_dataframe_1.GRADES_KG_G - education_dataframe_1.GRADES_PK_G)

In [495]:
(education_dataframe_1.isna().sum() * 100 / len(education_dataframe_1)).sort_values()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
GRADES_ALL_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_1_8_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
CAPITAL_OUTLAY_EXPENDITURE      18.158236
SUPPORT_SERVICES_EXPENDITURE    18.158236
INSTRUCTION_EXPENDITURE         18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
OTHER_EXPENDITURE               21.400778
AVG_READING_4_SCORE             63.099870
AVG_MATH_8_SCORE                66.407263
AVG_MATH_4_SCORE                68.417639
AVG_READING_8_SCORE             68.612192
dtype: float64

In [496]:
# For the AVG Reading and Math Score I am getting the mean deals 
# is per state we are substituting values that are somewhat compatible
math_4 = education_dataframe_1.AVG_MATH_4_SCORE.mean()
math_8 = education_dataframe_1.AVG_MATH_8_SCORE.mean()
read_4 = education_dataframe_1.AVG_READING_4_SCORE.mean()
read_8 = education_dataframe_1.AVG_READING_8_SCORE.mean()

default_values = { "AVG_MATH_4_SCORE":math_4, \
                   "AVG_MATH_8_SCORE":math_8, \
                   "AVG_READING_4_SCORE":read_4, \
                   "AVG_READING_8_SCORE":read_8 }

education_dataframe_1 = education_dataframe_1.fillna(value=default_values)

In [497]:
(education_dataframe_1.isna().sum() * 100 / len(education_dataframe_1)).sort_values()

PRIMARY_KEY                      0.000000
AVG_MATH_8_SCORE                 0.000000
AVG_MATH_4_SCORE                 0.000000
GRADES_ALL_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_1_8_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
AVG_READING_4_SCORE              0.000000
AVG_READING_8_SCORE              0.000000
ENROLL                           0.000000
YEAR                             0.000000
STATE                            0.000000
SUPPORT_SERVICES_EXPENDITURE    18.158236
INSTRUCTION_EXPENDITURE         18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
CAPITAL_OUTLAY_EXPENDITURE      18.158236
OTHER_EXPENDITURE               21.400778
dtype: float64

In [498]:
# My choice are 
#   Filling with 0 -- No I know there is value the expenditure
#   Filling with a random variable -- No I sensible variable
#   Filling with interoplation that that is the assignment
#   Filling with median since there are some big states 
education_dataframe_1.SUPPORT_SERVICES_EXPENDITURE = \
    education_dataframe_1.SUPPORT_SERVICES_EXPENDITURE.median()
education_dataframe_1.INSTRUCTION_EXPENDITURE = \
    education_dataframe_1.INSTRUCTION_EXPENDITURE.median()
education_dataframe_1.TOTAL_EXPENDITURE = \
    education_dataframe_1.TOTAL_EXPENDITURE.median()
education_dataframe_1.LOCAL_REVENUE = \
    education_dataframe_1.LOCAL_REVENUE.median()
education_dataframe_1.STATE_REVENUE = \
    education_dataframe_1.STATE_REVENUE.median()
education_dataframe_1.FEDERAL_REVENUE = \
    education_dataframe_1.FEDERAL_REVENUE.median()
education_dataframe_1.CAPITAL_OUTLAY_EXPENDITURE = \
    education_dataframe_1.CAPITAL_OUTLAY_EXPENDITURE.median()
education_dataframe_1.OTHER_EXPENDITURE = \
    education_dataframe_1.CAPITAL_OUTLAY_EXPENDITURE.median()
education_dataframe_1.TOTAL_REVENUE = \
    education_dataframe_1.TOTAL_REVENUE.median()

In [499]:
(education_dataframe_1.isna().sum() * 100 / len(education_dataframe_1)).sort_values()

PRIMARY_KEY                     0.0
AVG_MATH_8_SCORE                0.0
AVG_MATH_4_SCORE                0.0
GRADES_ALL_G                    0.0
GRADES_9_12_G                   0.0
GRADES_1_8_G                    0.0
GRADES_12_G                     0.0
GRADES_8_G                      0.0
GRADES_4_G                      0.0
GRADES_KG_G                     0.0
GRADES_PK_G                     0.0
AVG_READING_4_SCORE             0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
INSTRUCTION_EXPENDITURE         0.0
TOTAL_EXPENDITURE               0.0
LOCAL_REVENUE                   0.0
STATE_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
TOTAL_REVENUE                   0.0
ENROLL                          0.0
YEAR                            0.0
STATE                           0.0
OTHER_EXPENDITURE               0.0
AVG_READING_8_SCORE             0.0
dtype: float64

## Now, take into account the time factor. 

Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [500]:
# Start with a new data frame and remove all values as was done before
education_dataframe_2 = education_dataframe.copy()
education_dataframe_2

# Drop the rows that has < 10% ( or very close to it )
# See how many rows are left
# GRADES_ALL_G                     
# GRADES_12_G                      
# GRADES_8_G                       
# GRADES_4_G                       
# GRADES_KG_G                      
# GRADES_PK_G                    
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_PK_G'].notna()]
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_KG_G'].notna()]
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_4_G'].notna()]
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_8_G'].notna()]
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_12_G'].notna()]
education_dataframe_2 = \
    education_dataframe_2[ education_dataframe_2['GRADES_ALL_G'].notna()]
print("The shape of education is ", education_dataframe_2.shape)

# This one does not require a groupby so I am putting it here
# The next is to see if missing values can be replaced
# Based on the documentation -- Grades All is comparable to Enroll
education_dataframe_2.ENROLL = education_dataframe_2.GRADES_ALL_G

(education_dataframe_2.isna().sum() * 100 / len(education_dataframe_2)).sort_values()

# This one does not require a groupby so I am putting it here.
# For the Student in Grade 1-12 to split them I took the total amount of student except those in kindegarten 
# and preschool and and split ( 2/3 and 1/3 since we have since one group is 8 grades and other is 4 grades )
# education_dataframe_2.GRADES_1_8_G  = \
education_dataframe_2.GRADES_1_8_G = \
    .67 * (education_dataframe_2.GRADES_ALL_G - \
           education_dataframe_2.GRADES_KG_G - \
           education_dataframe_2.GRADES_PK_G)

education_dataframe_2.GRADES_9_12_G = \
    .33 * (education_dataframe_2.GRADES_ALL_G - \
           education_dataframe_2.GRADES_KG_G - \
           education_dataframe_2.GRADES_PK_G)

The shape of education is  (1542, 25)

In [501]:
(education_dataframe_2.isna().sum() * 100 / len(education_dataframe_2)).sort_values()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
GRADES_ALL_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_1_8_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
CAPITAL_OUTLAY_EXPENDITURE      18.158236
SUPPORT_SERVICES_EXPENDITURE    18.158236
INSTRUCTION_EXPENDITURE         18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
OTHER_EXPENDITURE               21.400778
AVG_READING_4_SCORE             63.099870
AVG_MATH_8_SCORE                66.407263
AVG_MATH_4_SCORE                68.417639
AVG_READING_8_SCORE             68.612192
dtype: float64

In [515]:
# This code is mess.  This my only workable solutino for 
# updating a column in a group by.  Once I see your example
# I will definitly tries this code overa again.

# math_4 = education_dataframe_2.groupby("YEAR").AVG_MATH_4_SCORE.mean()
# math_4_year_avg = pd.DataFrame(math_4).fillna(method='bfill')
# year_to_score = {}
# for index,row in math_4_year_avg.iterrows():
#      year_to_score[index] = row[0]

# for index, row in education_dataframe_2.iterrows():
#     year = row['YEAR']
#     value = str(row['AVG_MATH_4_SCORE'])
#     if ( value == 'nan'):
#         education_dataframe_2.loc[index, 'AVG_MATH_4_SCORE'] = \
#             year_to_score[year]
        
# ############

a = education_dataframe_2.groupby('YEAR')['AVG_MATH_4_SCORE']
print(list(a))




        
read_4 = education_dataframe_2.groupby("YEAR").AVG_READING_4_SCORE.mean()
read_4_year_avg = pd.DataFrame(read_4).fillna(method='bfill')
year_to_score = {}
for index,row in read_4_year_avg.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['AVG_READING_4_SCORE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'AVG_READING_4_SCORE'] = \
        year_to_score[year]
        
################       

math_8 = education_dataframe_2.groupby("YEAR").AVG_MATH_8_SCORE.mean()
math_8_year_avg = pd.DataFrame(math_8).fillna(method='bfill')
year_to_score = {}
for index,row in math_8_year_avg.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
     year = row['YEAR']
     value = str(row['AVG_MATH_8_SCORE'])
     if ( value == 'nan'):
        education_dataframe_2.loc[index, 'AVG_MATH_8_SCORE'] = \
             year_to_score[year]

####################

read_8 = education_dataframe_2.groupby("YEAR").AVG_READING_8_SCORE.mean()
read_8_year_avg = pd.DataFrame(read_8).fillna(method='bfill')
year_to_score = {}
for index,row in read_8_year_avg.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['AVG_READING_8_SCORE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'AVG_READING_8_SCORE'] = \
        year_to_score[year]

[(1986, 1310   NaN
1317   NaN
1324   NaN
1331   NaN
1338   NaN
1352   NaN
1366   NaN
1373   NaN
1380   NaN
1387   NaN
1401   NaN
1408   NaN
1415   NaN
1422   NaN
1429   NaN
1436   NaN
1443   NaN
1457   NaN
1464   NaN
1485   NaN
1499   NaN
1506   NaN
1513   NaN
1527   NaN
1534   NaN
1548   NaN
1562   NaN
1569   NaN
1576   NaN
1590   NaN
1597   NaN
1604   NaN
1611   NaN
1618   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1987, 1283   NaN
1311   NaN
1318   NaN
1325   NaN
1332   NaN
1339   NaN
1353   NaN
1367   NaN
1374   NaN
1381   NaN
1388   NaN
1402   NaN
1409   NaN
1416   NaN
1423   NaN
1430   NaN
1437   NaN
1444   NaN
1458   NaN
1465   NaN
1486   NaN
1500   NaN
1507   NaN
1514   NaN
1528   NaN
1535   NaN
1549   NaN
1563   NaN
1577   NaN
1598   NaN
1605   NaN
1612   NaN
1619   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1988, 1284   NaN
1291   NaN
1312   NaN
1319   NaN
1326   NaN
1333   NaN
1340   NaN
1354   NaN
1368   NaN
1375   NaN
1382   NaN
1389   NaN
1403   NaN
1410   NaN
1417   NaN
1424   NaN
1431   NaN
1438   NaN
1445   NaN
1459   NaN
1466   NaN
1487   NaN
1501   NaN
1508   NaN
1515   NaN
1529   NaN
1536   NaN
1550   NaN
1564   NaN
1578   NaN
1585   NaN
1599   NaN
1606   NaN
1613   NaN
1620   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1989, 1285   NaN
1292   NaN
1313   NaN
1320   NaN
1327   NaN
1334   NaN
1341   NaN
1355   NaN
1362   NaN
1369   NaN
1376   NaN
1383   NaN
1390   NaN
1404   NaN
1411   NaN
1418   NaN
1425   NaN
1432   NaN
1439   NaN
1446   NaN
1460   NaN
1467   NaN
1481   NaN
1488   NaN
1502   NaN
1509   NaN
1516   NaN
1530   NaN
1537   NaN
1544   NaN
1551   NaN
1565   NaN
1579   NaN
1586   NaN
1593   NaN
1600   NaN
1607   NaN
1614   NaN
1621   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1990, 1286   NaN
1293   NaN
1314   NaN
1321   NaN
1328   NaN
1335   NaN
1342   NaN
1349   NaN
1363   NaN
1370   NaN
1377   NaN
1384   NaN
1391   NaN
1398   NaN
1405   NaN
1412   NaN
1419   NaN
1426   NaN
1433   NaN
1440   NaN
1447   NaN
1461   NaN
1468   NaN
1475   NaN
1482   NaN
1489   NaN
1496   NaN
1503   NaN
1510   NaN
1517   NaN
1531   NaN
1538   NaN
1545   NaN
1552   NaN
1566   NaN
1580   NaN
1587   NaN
1594   NaN
1601   NaN
1608   NaN
1615   NaN
1622   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1991, 1287   NaN
1294   NaN
1315   NaN
1322   NaN
1329   NaN
1336   NaN
1343   NaN
1350   NaN
1357   NaN
1364   NaN
1371   NaN
1378   NaN
1385   NaN
1392   NaN
1399   NaN
1406   NaN
1413   NaN
1420   NaN
1427   NaN
1434   NaN
1441   NaN
1448   NaN
1455   NaN
1462   NaN
1469   NaN
1476   NaN
1483   NaN
1490   NaN
1497   NaN
1504   NaN
1511   NaN
1518   NaN
1525   NaN
1532   NaN
1539   NaN
1546   NaN
1553   NaN
1567   NaN
1581   NaN
1588   NaN
1595   NaN
1602   NaN
1609   NaN
1616   NaN
1623   NaN
1630   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1992, 0     208.0
1       NaN
2     215.0
3     210.0
4     208.0
5     221.0
6     227.0
7     218.0
8     193.0
9     214.0
10    216.0
11    214.0
12    222.0
13      NaN
14    221.0
15    230.0
16      NaN
17    215.0
18    204.0
19    232.0
20    217.0
21    227.0
22    220.0
23    228.0
24    202.0
25    222.0
26      NaN
27    225.0
28      NaN
29    230.0
30    227.0
31    213.0
32    218.0
33    213.0
34    229.0
35    219.0
36    220.0
37      NaN
38    224.0
39    215.0
40    212.0
41      NaN
42    211.0
43    218.0
44    224.0
45      NaN
46    221.0
47      NaN
48    215.0
49    229.0
Name: AVG_MATH_4_SCORE, dtype: float64), (1993, 51    NaN
52    NaN
53    NaN
54    NaN
55    NaN
56    NaN
57    NaN
58    NaN
59    NaN
60    NaN
61    NaN
62    NaN
63    NaN
64    NaN
65    NaN
66    NaN
67    NaN
68    NaN
69    NaN
70    NaN
71    NaN
72    NaN
73    NaN
74    NaN
75    NaN
76    NaN
77    NaN
78    NaN
79    NaN
80    NaN
81    NaN
82    NaN
83    NaN
84    NaN
85    NaN
86    NaN
87    NaN
88    NaN
89    NaN
90    NaN
91    NaN
92    NaN
93    NaN
94    NaN
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN
100   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1994, 102   NaN
103   NaN
104   NaN
105   NaN
106   NaN
107   NaN
108   NaN
109   NaN
110   NaN
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
116   NaN
117   NaN
118   NaN
119   NaN
120   NaN
121   NaN
122   NaN
123   NaN
124   NaN
125   NaN
126   NaN
127   NaN
128   NaN
129   NaN
130   NaN
131   NaN
132   NaN
133   NaN
134   NaN
135   NaN
136   NaN
137   NaN
138   NaN
139   NaN
140   NaN
141   NaN
142   NaN
143   NaN
144   NaN
145   NaN
146   NaN
147   NaN
148   NaN
149   NaN
150   NaN
151   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1995, 153   NaN
154   NaN
155   NaN
156   NaN
157   NaN
158   NaN
159   NaN
160   NaN
161   NaN
162   NaN
163   NaN
164   NaN
165   NaN
166   NaN
167   NaN
168   NaN
169   NaN
170   NaN
171   NaN
172   NaN
173   NaN
174   NaN
175   NaN
176   NaN
177   NaN
178   NaN
179   NaN
180   NaN
181   NaN
182   NaN
183   NaN
184   NaN
185   NaN
186   NaN
187   NaN
188   NaN
189   NaN
190   NaN
191   NaN
192   NaN
193   NaN
194   NaN
195   NaN
196   NaN
197   NaN
198   NaN
199   NaN
200   NaN
201   NaN
202   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1996, 204   NaN
205   NaN
206   NaN
207   NaN
208   NaN
209   NaN
210   NaN
211   NaN
212   NaN
213   NaN
214   NaN
215   NaN
216   NaN
217   NaN
218   NaN
219   NaN
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
231   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
248   NaN
249   NaN
250   NaN
251   NaN
252   NaN
253   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1997, 255   NaN
256   NaN
257   NaN
258   NaN
259   NaN
260   NaN
261   NaN
262   NaN
263   NaN
264   NaN
265   NaN
266   NaN
267   NaN
268   NaN
269   NaN
270   NaN
271   NaN
272   NaN
273   NaN
274   NaN
275   NaN
276   NaN
277   NaN
278   NaN
279   NaN
280   NaN
281   NaN
282   NaN
283   NaN
284   NaN
285   NaN
286   NaN
287   NaN
288   NaN
289   NaN
290   NaN
291   NaN
292   NaN
293   NaN
294   NaN
295   NaN
296   NaN
297   NaN
298   NaN
299   NaN
300   NaN
301   NaN
302   NaN
303   NaN
304   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1998, 306   NaN
307   NaN
308   NaN
309   NaN
310   NaN
311   NaN
312   NaN
313   NaN
314   NaN
315   NaN
316   NaN
317   NaN
318   NaN
319   NaN
320   NaN
321   NaN
322   NaN
323   NaN
324   NaN
325   NaN
326   NaN
327   NaN
328   NaN
329   NaN
330   NaN
331   NaN
332   NaN
333   NaN
334   NaN
335   NaN
336   NaN
337   NaN
338   NaN
339   NaN
340   NaN
341   NaN
342   NaN
343   NaN
344   NaN
345   NaN
346   NaN
347   NaN
348   NaN
349   NaN
350   NaN
351   NaN
352   NaN
353   NaN
354   NaN
355   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (1999, 357   NaN
358   NaN
359   NaN
360   NaN
361   NaN
362   NaN
363   NaN
364   NaN
365   NaN
366   NaN
367   NaN
368   NaN
369   NaN
370   NaN
371   NaN
372   NaN
373   NaN
374   NaN
375   NaN
376   NaN
377   NaN
378   NaN
379   NaN
380   NaN
381   NaN
382   NaN
383   NaN
384   NaN
385   NaN
386   NaN
387   NaN
388   NaN
389   NaN
390   NaN
391   NaN
392   NaN
393   NaN
394   NaN
395   NaN
396   NaN
397   NaN
398   NaN
399   NaN
400   NaN
401   NaN
402   NaN
403   NaN
404   NaN
405   NaN
406   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2000, 408    217.0
409      NaN
410    219.0
411    216.0
412    213.0
413      NaN
414    234.0
415      NaN
416    192.0
417      NaN
418    219.0
419    216.0
420    224.0
421    223.0
422    233.0
423    231.0
424    232.0
425    219.0
426    218.0
427    230.0
428    222.0
429    233.0
430    229.0
431    234.0
432    211.0
433    228.0
434    228.0
435    225.0
436    220.0
437      NaN
438      NaN
439    213.0
440    225.0
441    230.0
442    230.0
443    230.0
444    224.0
445    224.0
446      NaN
447    224.0
448    220.0
449      NaN
450    220.0
451    231.0
452    227.0
453    232.0
454    230.0
455      NaN
456    223.0
457      NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2001, 459   NaN
460   NaN
461   NaN
462   NaN
463   NaN
464   NaN
465   NaN
466   NaN
467   NaN
468   NaN
469   NaN
470   NaN
471   NaN
472   NaN
473   NaN
474   NaN
475   NaN
476   NaN
477   NaN
478   NaN
479   NaN
480   NaN
481   NaN
482   NaN
483   NaN
484   NaN
485   NaN
486   NaN
487   NaN
488   NaN
489   NaN
490   NaN
491   NaN
492   NaN
493   NaN
494   NaN
495   NaN
496   NaN
497   NaN
498   NaN
499   NaN
500   NaN
501   NaN
502   NaN
503   NaN
504   NaN
505   NaN
506   NaN
507   NaN
508   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2002, 510   NaN
511   NaN
512   NaN
513   NaN
514   NaN
515   NaN
516   NaN
517   NaN
518   NaN
519   NaN
520   NaN
521   NaN
522   NaN
523   NaN
524   NaN
525   NaN
526   NaN
527   NaN
528   NaN
529   NaN
530   NaN
531   NaN
532   NaN
533   NaN
534   NaN
535   NaN
536   NaN
537   NaN
538   NaN
539   NaN
540   NaN
541   NaN
542   NaN
543   NaN
544   NaN
545   NaN
546   NaN
547   NaN
548   NaN
549   NaN
550   NaN
551   NaN
552   NaN
553   NaN
554   NaN
555   NaN
556   NaN
557   NaN
558   NaN
559   NaN
560   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2003, 561    223.0
562    233.0
563    229.0
564    229.0
565    227.0
566    235.0
567    241.0
568    236.0
569    205.0
570    234.0
571    230.0
572    227.0
573    235.0
574    233.0
575    238.0
576    238.0
577    242.0
578    229.0
579    226.0
580    238.0
581    233.0
582    242.0
583    236.0
584    242.0
585    223.0
586    235.0
587    236.0
588    236.0
589    228.0
590    243.0
591    239.0
592    223.0
593    236.0
594    242.0
595    238.0
596    238.0
597    229.0
598    236.0
599    236.0
600    230.0
601    236.0
602    237.0
603    228.0
604    237.0
605    235.0
606    242.0
607    239.0
608    238.0
609    231.0
610    237.0
611    241.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2004, 612   NaN
613   NaN
614   NaN
615   NaN
616   NaN
617   NaN
618   NaN
619   NaN
620   NaN
621   NaN
622   NaN
623   NaN
624   NaN
625   NaN
626   NaN
627   NaN
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
633   NaN
634   NaN
635   NaN
636   NaN
637   NaN
638   NaN
639   NaN
640   NaN
641   NaN
642   NaN
643   NaN
644   NaN
645   NaN
646   NaN
647   NaN
648   NaN
649   NaN
650   NaN
651   NaN
652   NaN
653   NaN
654   NaN
655   NaN
656   NaN
657   NaN
658   NaN
659   NaN
660   NaN
661   NaN
662   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2005, 663    225.0
664    236.0
665    230.0
666    236.0
667    230.0
668    239.0
669    242.0
670    240.0
671    211.0
672    239.0
673    234.0
674    230.0
675    242.0
676    233.0
677    240.0
678    240.0
679    246.0
680    231.0
681    230.0
682    241.0
683    238.0
684    247.0
685    238.0
686    246.0
687    227.0
688    235.0
689    241.0
690    238.0
691    230.0
692    246.0
693    244.0
694    224.0
695    238.0
696    241.0
697    243.0
698    242.0
699    234.0
700    238.0
701    241.0
702    233.0
703    238.0
704    242.0
705    232.0
706    242.0
707    239.0
708    244.0
709    240.0
710    242.0
711    231.0
712    241.0
713    243.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2006, 714   NaN
715   NaN
716   NaN
717   NaN
718   NaN
719   NaN
720   NaN
721   NaN
722   NaN
723   NaN
724   NaN
725   NaN
726   NaN
727   NaN
728   NaN
729   NaN
730   NaN
731   NaN
732   NaN
733   NaN
734   NaN
735   NaN
736   NaN
737   NaN
738   NaN
739   NaN
740   NaN
741   NaN
742   NaN
743   NaN
744   NaN
745   NaN
746   NaN
747   NaN
748   NaN
749   NaN
750   NaN
751   NaN
752   NaN
753   NaN
754   NaN
755   NaN
756   NaN
757   NaN
758   NaN
759   NaN
760   NaN
761   NaN
762   NaN
763   NaN
764   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2007, 765    229.0
766    237.0
767    232.0
768    238.0
769    230.0
770    240.0
771    243.0
772    242.0
773    214.0
774    242.0
775    235.0
776    234.0
777    241.0
778    237.0
779    245.0
780    243.0
781    248.0
782    235.0
783    230.0
784    242.0
785    240.0
786    252.0
787    238.0
788    247.0
789    228.0
790    239.0
791    244.0
792    238.0
793    232.0
794    249.0
795    249.0
796    228.0
797    243.0
798    242.0
799    245.0
800    245.0
801    237.0
802    236.0
803    244.0
804    236.0
805    237.0
806    241.0
807    233.0
808    242.0
809    239.0
810    246.0
811    244.0
812    243.0
813    236.0
814    244.0
815    244.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2008, 816   NaN
817   NaN
818   NaN
819   NaN
820   NaN
821   NaN
822   NaN
823   NaN
824   NaN
825   NaN
826   NaN
827   NaN
828   NaN
829   NaN
830   NaN
831   NaN
832   NaN
833   NaN
834   NaN
835   NaN
836   NaN
837   NaN
838   NaN
839   NaN
840   NaN
841   NaN
842   NaN
843   NaN
844   NaN
845   NaN
846   NaN
847   NaN
848   NaN
849   NaN
850   NaN
851   NaN
852   NaN
853   NaN
854   NaN
855   NaN
856   NaN
857   NaN
858   NaN
859   NaN
860   NaN
861   NaN
862   NaN
863   NaN
864   NaN
865   NaN
866   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2009, 867    228.0
868    237.0
869    230.0
870    238.0
871    232.0
872    243.0
873    245.0
874    239.0
875    219.0
876    242.0
877    236.0
878    236.0
879    241.0
880    238.0
881    243.0
882    243.0
883    245.0
884    239.0
885    229.0
886    244.0
887    244.0
888    252.0
889    236.0
890    249.0
891    227.0
892    241.0
893    244.0
894    239.0
895    235.0
896    251.0
897    247.0
898    230.0
899    241.0
900    244.0
901    245.0
902    244.0
903    237.0
904    238.0
905    244.0
906    239.0
907    236.0
908    242.0
909    232.0
910    240.0
911    240.0
912    248.0
913    243.0
914    242.0
915    233.0
916    244.0
917    242.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2010, 918   NaN
919   NaN
920   NaN
921   NaN
922   NaN
923   NaN
924   NaN
925   NaN
926   NaN
927   NaN
928   NaN
929   NaN
930   NaN
931   NaN
932   NaN
933   NaN
934   NaN
935   NaN
936   NaN
937   NaN
938   NaN
939   NaN
940   NaN
941   NaN
942   NaN
943   NaN
944   NaN
945   NaN
946   NaN
947   NaN
948   NaN
949   NaN
950   NaN
951   NaN
952   NaN
953   NaN
954   NaN
955   NaN
956   NaN
957   NaN
958   NaN
959   NaN
960   NaN
961   NaN
962   NaN
963   NaN
964   NaN
965   NaN
966   NaN
967   NaN
968   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2011, 969     231.0
970     236.0
971     235.0
972     238.0
973     234.0
974     244.0
975     242.0
976     240.0
977     222.0
978     240.0
979     238.0
980     239.0
981     240.0
982     239.0
983     244.0
984     243.0
985     246.0
986     241.0
987     231.0
988     244.0
989     247.0
990     253.0
991     236.0
992     249.0
993     230.0
994     240.0
995     244.0
996     240.0
997     237.0
998     252.0
999     248.0
1000    233.0
1001    238.0
1002    245.0
1003    245.0
1004    244.0
1005    237.0
1006    237.0
1007    246.0
1008    242.0
1009    237.0
1010    241.0
1011    233.0
1012    241.0
1013    243.0
1014    247.0
1015    245.0
1016    243.0
1017    235.0
1018    245.0
1019    244.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2012, 1020   NaN
1021   NaN
1022   NaN
1023   NaN
1024   NaN
1025   NaN
1026   NaN
1027   NaN
1028   NaN
1029   NaN
1030   NaN
1031   NaN
1032   NaN
1033   NaN
1034   NaN
1035   NaN
1036   NaN
1037   NaN
1038   NaN
1039   NaN
1040   NaN
1041   NaN
1042   NaN
1043   NaN
1044   NaN
1045   NaN
1046   NaN
1047   NaN
1048   NaN
1049   NaN
1050   NaN
1051   NaN
1052   NaN
1053   NaN
1054   NaN
1055   NaN
1056   NaN
1057   NaN
1058   NaN
1059   NaN
1060   NaN
1061   NaN
1062   NaN
1063   NaN
1064   NaN
1065   NaN
1066   NaN
1067   NaN
1068   NaN
1069   NaN
1070   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2013, 1071    233.0
1072    236.0
1073    240.0
1074    240.0
1075    234.0
1076    247.0
1077    243.0
1078    243.0
1079    229.0
1080    242.0
1081    240.0
1082    243.0
1083    241.0
1084    239.0
1085    249.0
1086    246.0
1087    246.0
1088    241.0
1089    231.0
1090    246.0
1091    245.0
1092    253.0
1093    237.0
1094    253.0
1095    231.0
1096    240.0
1097    244.0
1098    243.0
1099    236.0
1100    253.0
1101    247.0
1102    233.0
1103    240.0
1104    245.0
1105    246.0
1106    246.0
1107    239.0
1108    240.0
1109    244.0
1110    241.0
1111    237.0
1112    241.0
1113    240.0
1114    242.0
1115    243.0
1116    248.0
1117    246.0
1118    246.0
1119    237.0
1120    245.0
1121    247.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2014, 1122   NaN
1123   NaN
1124   NaN
1125   NaN
1126   NaN
1127   NaN
1128   NaN
1129   NaN
1130   NaN
1131   NaN
1132   NaN
1133   NaN
1134   NaN
1135   NaN
1136   NaN
1137   NaN
1138   NaN
1139   NaN
1140   NaN
1141   NaN
1142   NaN
1143   NaN
1144   NaN
1145   NaN
1146   NaN
1147   NaN
1148   NaN
1149   NaN
1150   NaN
1151   NaN
1152   NaN
1153   NaN
1154   NaN
1155   NaN
1156   NaN
1157   NaN
1158   NaN
1159   NaN
1160   NaN
1161   NaN
1162   NaN
1163   NaN
1164   NaN
1165   NaN
1166   NaN
1167   NaN
1168   NaN
1169   NaN
1170   NaN
1171   NaN
1172   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2015, 1173    231.0
1174    236.0
1175    238.0
1176    235.0
1178    242.0
1179    240.0
1180    239.0
1181    231.0
1182    243.0
1183    236.0
1184    238.0
1185    239.0
1186    237.0
1187    248.0
1188    243.0
1189    241.0
1190    242.0
1191    234.0
1192    242.0
1193    239.0
1194    251.0
1195    236.0
1196    250.0
1197    234.0
1198    239.0
1199    241.0
1200    244.0
1201    234.0
1202    249.0
1203    245.0
1204    231.0
1205    237.0
1206    244.0
1207    245.0
1208    244.0
1209    240.0
1211    243.0
1212    238.0
1213    237.0
1214    240.0
1215    241.0
1216    244.0
1217    243.0
1218    243.0
1219    247.0
1220    245.0
1221    235.0
1222    243.0
1223    247.0
Name: AVG_MATH_4_SCORE, dtype: float64), (2016, 1224   NaN
1225   NaN
1226   NaN
1227   NaN
1228   NaN
1229   NaN
1230   NaN
1231   NaN
1232   NaN
1233   NaN
1234   NaN
1235   NaN
1236   NaN
1237   NaN
1238   NaN
1239   NaN
1240   NaN
1241   NaN
1242   NaN
1243   NaN
1244   NaN
1245   NaN
1246   NaN
1247   NaN
1248   NaN
1249   NaN
1250   NaN
1251   NaN
1252   NaN
1253   NaN
1254   NaN
1255   NaN
1256   NaN
1257   NaN
1258   NaN
1259   NaN
1260   NaN
1262   NaN
1263   NaN
1264   NaN
1265   NaN
1266   NaN
1267   NaN
1268   NaN
1269   NaN
1270   NaN
1271   NaN
1272   NaN
1273   NaN
1274   NaN
Name: AVG_MATH_4_SCORE, dtype: float64), (2017, 1281    232.0
1288    230.0
1295    234.0
1302    234.0
1309    232.0
1316    241.0
1323    239.0
1330    236.0
1337    231.0
1344    246.0
1351    236.0
1358    238.0
1365    240.0
1372    238.0
1379    247.0
1386    243.0
1393    241.0
1400    239.0
1407    229.0
1414    240.0
1421    241.0
1428    249.0
1435    236.0
1442    249.0
1449    235.0
1456    240.0
1463    241.0
1470    246.0
1477    232.0
1484    245.0
1491    248.0
1498    230.0
1505    236.0
1512    241.0
1519    244.0
1526    241.0
1533    237.0
1540    233.0
1547    242.0
1554    238.0
1561    234.0
1568    242.0
1575    237.0
1582    241.0
1589    242.0
1596    241.0
1603    248.0
1610    242.0
1617    236.0
1624    240.0
1631    248.0
Name: AVG_MATH_4_SCORE, dtype: float64)]

In [503]:
(education_dataframe_2.isna().sum() * 100 / len(education_dataframe_2)).sort_values()

PRIMARY_KEY                      0.000000
AVG_MATH_8_SCORE                 0.000000
GRADES_ALL_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_1_8_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
AVG_READING_4_SCORE              0.000000
AVG_READING_8_SCORE              0.000000
ENROLL                           0.000000
YEAR                             0.000000
STATE                            0.000000
SUPPORT_SERVICES_EXPENDITURE    18.158236
INSTRUCTION_EXPENDITURE         18.158236
TOTAL_EXPENDITURE               18.158236
LOCAL_REVENUE                   18.158236
STATE_REVENUE                   18.158236
FEDERAL_REVENUE                 18.158236
TOTAL_REVENUE                   18.158236
CAPITAL_OUTLAY_EXPENDITURE      18.158236
OTHER_EXPENDITURE               21.400778
AVG_MATH_4_SCORE                68.417639
dtype: float64

In [504]:
# My choice are 
#   Filling with 0 -- No I know there is value the expenditure
#   Filling with a random variable -- No I sensible variable
#   Filling with interoplation that that is the assignment
#   Filling with median since there are some big states 

# education_dataframe_1.OTHER_EXPENDITURE = \
#     education_dataframe_1.CAPITAL_OUTLAY_EXPENDITURE.median()
# education_dataframe_1.TOTAL_REVENUE = \
#     education_dataframe_1.TOTAL_REVENUE.median()

SUPPORT_SERVICES_EXPENDITURE = education_dataframe_2.groupby("YEAR").median()
support_mean = pd.DataFrame(SUPPORT_SERVICES_EXPENDITURE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['SUPPORT_SERVICES_EXPENDITURE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'SUPPORT_SERVICES_EXPENDITURE'] = \
        year_to_score[year]
        
############

INSTRUCTION_EXPENDITURE = education_dataframe_2.groupby("YEAR").median()
INSTRUCTION_EXPENDITURE = pd.DataFrame(INSTRUCTION_EXPENDITURE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['INSTRUCTION_EXPENDITURE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'INSTRUCTION_EXPENDITURE'] = \
        year_to_score[year]
        
############

TOTAL_EXPENDITURE  = education_dataframe_2.groupby("YEAR").median()
TOTAL_EXPENDITURE  = pd.DataFrame(TOTAL_EXPENDITURE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['TOTAL_EXPENDITURE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'TOTAL_EXPENDITURE'] = \
        year_to_score[year]
        
##############

LOCAL_REVENUE  = education_dataframe_2.groupby("YEAR").median()
LOCAL_REVENUE  = pd.DataFrame(LOCAL_REVENUE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['LOCAL_REVENUE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'LOCAL_REVENUE'] = \
        year_to_score[year]
        
###############

STATE_REVENUE  = education_dataframe_2.groupby("YEAR").median()
STATE_REVENUE  = pd.DataFrame(LOCAL_REVENUE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['STATE_REVENUE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'STATE_REVENUE'] = \
        year_to_score[year]
        
#################

FEDERAL_REVENUE  = education_dataframe_2.groupby("YEAR").median()
FEDERAL_REVENUE  = pd.DataFrame(FEDERAL_REVENUE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['FEDERAL_REVENUE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'FEDERAL_REVENUE'] = \
        year_to_score[year]
        
#################

CAPITAL_OUTLAY_EXPENDITURE  = education_dataframe_2.groupby("YEAR").median()
CAPITAL_OUTLAY_EXPENDITURE  = pd.DataFrame(CAPITAL_OUTLAY_EXPENDITURE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['CAPITAL_OUTLAY_EXPENDITURE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'CAPITAL_OUTLAY_EXPENDITURE'] = \
        year_to_score[year]

##################

TOTAL_REVENUE  = education_dataframe_2.groupby("YEAR").median()
TOTAL_REVENUE  = pd.DataFrame(TOTAL_REVENUE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['TOTAL_REVENUE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'TOTAL_REVENUE'] = \
        year_to_score[year]
        
##################

OTHER_EXPENDITURE  = education_dataframe_2.groupby("YEAR").median()
OTHER_EXPENDITURE  = pd.DataFrame(OTHER_EXPENDITURE).fillna(method='bfill')
year_to_score = {}
for index,row in support_mean.iterrows():
    year_to_score[index] = row[0]

for index, row in education_dataframe_2.iterrows():
    year = row['YEAR']
    value = str(row['OTHER_EXPENDITURE'])
    if ( value == 'nan'):
        education_dataframe_2.loc[index, 'OTHER_EXPENDITURE'] = \
        year_to_score[year]

In [505]:
education_dataframe_2.SUPPORT_SERVICES_EXPENDITURE

0        735036.0
1        350902.0
2       1007732.0
3        483488.0
4       8520926.0
          ...
1622     538315.0
1623     546195.0
1624     695092.0
1630     546195.0
1631     695092.0
Name: SUPPORT_SERVICES_EXPENDITURE, Length: 1542, dtype: float64

In [506]:
(education_dataframe_2.isna().sum() * 100 / len(education_dataframe_2)).sort_values()

PRIMARY_KEY                      0.000000
AVG_MATH_8_SCORE                 0.000000
GRADES_ALL_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_1_8_G                     0.000000
GRADES_12_G                      0.000000
GRADES_8_G                       0.000000
GRADES_4_G                       0.000000
GRADES_KG_G                      0.000000
GRADES_PK_G                      0.000000
AVG_READING_4_SCORE              0.000000
CAPITAL_OUTLAY_EXPENDITURE       0.000000
SUPPORT_SERVICES_EXPENDITURE     0.000000
INSTRUCTION_EXPENDITURE          0.000000
TOTAL_EXPENDITURE                0.000000
LOCAL_REVENUE                    0.000000
STATE_REVENUE                    0.000000
FEDERAL_REVENUE                  0.000000
TOTAL_REVENUE                    0.000000
ENROLL                           0.000000
YEAR                             0.000000
STATE                            0.000000
OTHER_EXPENDITURE                0.000000
AVG_READING_8_SCORE              0.000000
AVG_MATH_4_SCORE                68.417639
dtype: float64

In [507]:
#
# We will need a file with no missing data so lets save this version
# of the file
#
education_dataframe_2.to_csv("states_all_clean.csv", index=False)

## fill in the missing values using interpolation 

(extrapolation).

In [508]:
# Start with a new data frame and remove all values as was done before
education_dataframe_3 = education_dataframe.copy()
education_dataframe_3

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0

In [509]:
education_dataframe_3 = education_dataframe_3.interpolate(method='linear', limit_direction='both')
education_dataframe_3

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,727716.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,472847.0,208148.0,731634.0,208.0,252.0,207.0,255.0
1,1992_ALASKA,ALASKA,1992,727716.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,472847.0,208148.0,122487.0,211.5,258.5,208.0,255.0
2,1992_ARIZONA,ARIZONA,1992,727716.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,472847.0,208148.0,673477.0,215.0,265.0,209.0,255.0
3,1992_ARKANSAS,ARKANSAS,1992,727716.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,472847.0,208148.0,441490.0,210.0,256.0,211.0,255.0
4,1992_CALIFORNIA,CALIFORNIA,1992,727716.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,472847.0,208148.0,5254844.0,208.0,261.0,202.0,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,58998.0,27361.0,94258.0,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,58998.0,27361.0,94258.0,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,58998.0,27361.0,94258.0,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,58998.0,27361.0,94258.0,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,58998.0,27361.0,94258.0,246.0,286.0,227.0,265.0

In [510]:
(education_dataframe_3.isna().sum() * 100 / len(education_dataframe_3)).sort_values()

PRIMARY_KEY                     0.0
AVG_MATH_8_SCORE                0.0
AVG_MATH_4_SCORE                0.0
GRADES_ALL_G                    0.0
GRADES_9_12_G                   0.0
GRADES_1_8_G                    0.0
GRADES_12_G                     0.0
GRADES_8_G                      0.0
GRADES_4_G                      0.0
GRADES_KG_G                     0.0
GRADES_PK_G                     0.0
AVG_READING_4_SCORE             0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
INSTRUCTION_EXPENDITURE         0.0
TOTAL_EXPENDITURE               0.0
LOCAL_REVENUE                   0.0
STATE_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
TOTAL_REVENUE                   0.0
ENROLL                          0.0
YEAR                            0.0
STATE                           0.0
OTHER_EXPENDITURE               0.0
AVG_READING_8_SCORE             0.0
dtype: float64

##Compare your results for the second, third, and fourth questions. 

This dataset was unacceptable it should have had more cells filled.  This information should haved been filled over the years even if 
go back reasonable approximations.

Do you find any meaningful differences?

Between the exercises 2 ( One Date ) vs exercise 3 ( Many dates). 
It is true grouping the data together will give more accurance 
answer, the one idea that kept going through my mind is how 
the values going up and down over the years.  What are the other 
factors that gave use a higher or lower rate.

Between the exercises 2,3 and the interopolation assignment made that
that even more clear when looking at the parameters for interopolation.